# macOS
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]

# Secrets
.env
.env.*

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Model artifacts
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth
